<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular To-Do</title>
    <!-- Third Party Styles -->
    <link rel="stylesheet" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Personal Styles -->
    <link rel="stylesheet" href="./styles/main.css">
  </head>
  <body ng-app="ToDoApp" ng-cloak>
    <nav class="navbar navbar-default" ng-controller="NavCtrl">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
          <ul class="nav navbar-nav navbar-right" >
            <li ng-repeat="item in navItems"><a href="#">{{item.name}}</a></li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div ng-controller="ListCtrl">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <button class="col-xs-6 btn btn-success" name="button" ng-click="newItem()">New Item</button>
          <button class="col-xs-6 btn btn-info" name="button" ng-click="allItems()">All Items</button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h1>Ng-Todo</h1>

            <div class="allTodos" ng-show="!showNewItems">
              <div>
                <h3>OH SHIT.</h3>
                <div class="panel panel-default" ng-repeat="todo in todos | filter: {isCompleted: false}">
                    <div class="panel-body">
                        <div class="col-xs-1"><input type="checkbox" ng-checked="todo.isCompleted" name=""/></div>
                        <div class="col-xs-7">{{todo.task}}</div>
                        <div class="col-xs-1 col-xs-offset-2">{{todo.assignedTo}}</div>
                        <div class="col-xs-1"><button class="btn btn-danger fa fa-bathtub"></button></div>
                    </div>
                </div>
              </div>


              <div>
                  <h3>COMPLETED</h3>
                  <div class="panel panel-default" ng-repeat="todo in todos | filter: {isCompleted: true}">
                      <div class="panel-body">
                          <div class="col-xs-1"><input type="checkbox" ng-checked="todo.isCompleted" name=""/></div>
                          <div class="col-xs-7">{{todo.task}}</div>
                          <div class="col-xs-1  col-xs-offset-2">{{todo.assignedTo}}</div>
                          <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o"></button></div>
                      </div>
                  </div>
              </div>
            </div>




            <div class="newTodo" ng-show="showNewItems">
              <h4>New To Do</h4>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Third Party Scripts -->
    <script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
    <!-- Personal Scripts -->
    <!-- INIT ANGULAR APP -->
    <script type="text/javascript" src="./javascripts/main.js"></script>
  </body>
</html>
